
body {
	background-image: url("https://pixteller.com/assets/storage/designs_images/2017-07-30/11/backgrounds-passion-simple-background-image-1-597d9d0341fc4.png");
	background-size: cover;
    margin:0;
    padding:0;
	height: 100%;
	background-repeat:no-repeat;
}

header{
	background-color: #BDE3E6;
	min-height: 80px;
	text-align: center;
	}
h1 {
	color: white;
	font-size: 40px;
	vertical-align: middle;
    display: inline-block;	
}
h2, h3 {
	color: #ACDBE1;
	text-align:center;
	background-color: white;
	
}
#main{
	height: 100%;
	overflow: hidden;
	}

footer{
	background-color: #F7CFC7;
	height: 70px;
	width: 100%;
	opacity: .8;
	bottom: 0;
	position:absolute;	
	overflow: hidden;		
	}
.list {
    list-style-type: none;

}
.list li {
	margin-right: 10px;
	display: inline;
	color: grey;
	vertical-align: middle;
	float: right;
}
#mail {
	float: left;
}

ul a  {
    text-decoration: none;
	color: grey;
}
#column1 a {
    text-decoration: none;
    background-color: #E4B6C9;
    color:white;
    padding: 14px 25px;
    display: inline-block
	
}
#column1 a:hover {
	background-color: #cf7f9f;

}

#column1 {
	width:100%;
	min-height: 700px;
	float: left;

}

#profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	border-radius: 40%;
	
}
#main p {
	color: #d3b3f6;
	text-align:center;
	font-size: 20px;
	font-family:Tahoma;
	font-variant:small-caps;
	
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: #ACDBE1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-weight: bold;
	font-family: Bookman;
	font-size: 19px;
}

.nav li a:hover {
    background-color: #e4f3f6;
}